* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #ffae00;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav ul li {
    margin-right: 20px; 
}
nav ul li:last-child {
    margin-right: 0; 
}
nav ul li a {
    display: block;
    color: #ffffff; 
    text-decoration:underline; 
    padding: 12px;
}
nav ul li a:hover {
    background-color: #b60000;
}
main{
    color:black
}
footer{
    color:darkgrey
}
n{
    color:rgb(255, 38, 0)
    
}
p{
    font-size: 21px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
n{
    font-size: 23px;
}
img{
    height: 172px;
    width: 172px;
}
iframe{
    min-width: 100%;
    min-height: 14%;
    height:130px;
}
video{
    height: 400px;
    width: 230px;
    vertical-align: middle;
}
body{
    background-image:image-set("fondo1.png");
}
h1{
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(1, 46, 1)
}
footer{
    text-align: center;
}